<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>
    <style>
        .timer {
            color: red;
        }
        .header {
            color: black;
        }
    </style>
    <script type="text/javascript" src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script type="text/javascript" src="../app.js"></script>
</head>

<body>
    <div id="react-app"></div>
</body>
</html>